body {
    font-family: Arial, sans-serif;
    color: #ffffff;
    background: #1d1d1d;
    /* fallback color */
    background: linear-gradient(to top, #0c0029, #1d1d1d);
    padding: 0;
    margin: 0;
    min-height: 100vh;
    position: relative;
}

.content {
    display: flex;
    flex-direction: column;
    /* min-height: 100vh; */
    position: absolute;
    top: 30%;
    margin-left: 6rem;
}

.change-metric {
    position: fixed;
    top: 2rem;
    right: 2rem;
    font-size: 1.5rem;
    background-color: rgba(50, 50, 50, 0.9);
    color: rgb(183, 183, 183);
    border: none;
    border-radius: 8px;
    box-sizing: border-box;
    padding: 0.4em;
}

.change-metric:hover {
    color: white;
}

.main-content {
    width: fit-content;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.main-content div {
    color: white;
    font-size: 2rem;
}

.main-content>div:first-child {
    font-size: 4rem;
}

.main-content .main-temp {
    font-size: 3rem;
}

.main-content .bi-temp {
    display: flex;
    gap: 1em;
}

.description {
    display: flex;
    gap: 0.3em;
    align-items: center;
}

.description img {
    width: 1.5em;
}

.search {
    margin-top: 1.5rem;
    display: flex;
    flex-direction: column;
}

.search_input {
    font-size: 1.5rem;
    border: none;
    border-bottom: 1px solid rgb(116, 116, 116);
    background-color: rgba(50, 50, 50, 0.8);
    color: #ffffff;
    box-sizing: border-box;
    padding: 0.2rem;
    padding-left: 0.3rem;
    width: 20rem;
    background-image: url('./images/search.png');
    background-size: 1.2em;
    background-position: 98%;
    background-repeat: no-repeat;
}

input::placeholder {
    font-style: italic;
}

/* .search_input::before {
    content: '\f099';
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
} */

.error-message {
    margin-top: 0.5em;
    font-size: 1rem;
    color: white;
}

@media (max-width: 400px) {
    .change-metric {
        font-size: 2rem;
    }

    .content {
        margin-left: 2rem;
    }

    /* .search_input {
        width: 12rem;
    } */
}